<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmall.user.mapper.UserMapper">
    <select id="queryUserRoles" resultType="java.lang.String">
        select
            tr.name
        from
            tb_user_role tur
                left join tb_role tr on tur.role_id = tr.id
        where
            tur.user_id = #{userId}
    </select>
</mapper>
